@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* =================== Colors =================== */
@theme inline {
  --color-primary: #00113a;
  --color-secondary: #4169e1;
  --color-tertiary: #501300;
  --color-neutral: #444650;
  --color-babyblue: #cccfd8;
  --color-green: #25d366;
  --color-green-shadow: #2aff6d5d;
  --color-orange: #f97316;
}
/* =================== Fonts =================== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);

  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-montserrat), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
  color: var(--color-primary);
  font-weight: 700;
}
p,
span,
.navigation-links {
  color: var(--color-neutral);
}
#home {
  /* scroll-margin-top: 80px; */
}

.navigation-links li {
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navigation-links li:hover,
.navigation-links li.active {
  color: var(--color-secondary);
}

.btn-secondary {
  background: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-secondary:hover {
  background: var(--color-secondary);
  color: white;
}
.btn-whatsapp {
  background-color: var(--color-green);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 2px 10px 1px var(--color-green-shadow);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-whatsapp:hover {
  box-shadow: 0px 0px 20px 1px var(--color-green);
}

/* Hero Section */
.hero-section .left-side-content .btn-whatsapp span svg {
  width: 10px;
  height: 10px;
}
.hero-section .warrper-img .linear {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 1;

  background: linear-gradient(90deg, #2f57c1 0%, rgba(232, 178, 11, 1) 100%);

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 10px;
}

/* ========== Hero Section ========== */
/* Why Us Section */
.why-us .card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ========== Why Us Section ========== */
